{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="col-md-12">
	<a class="btn btn-primary btn-lg" href="{{ path("user_login") }}">login</a>
</div>
<div class="col-md-4 col-md-offset-2" style="margin-top:100px;">
	<a class="btn btn-primary btn-lg" href="{{ path("ged_homepage") }}">GED</a>
</div>
<div class="col-md-4 col-md-offset-2" style="margin-top:100px;">
	<a class="btn btn-primary btn-lg" href="{{ path("grc_homepage") }}">GRC</a>
</div>
{% endblock fos_user_content %}