grc:
    resource: "@GrcBundle/Resources/config/routing.yml"
    prefix:   /grc

ged:
    resource: "@GedBundle/Resources/config/routing.yml"
    prefix:   /ged

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

# Import des route fos_user register
register:
    path:     /register
    defaults: { _controller: AppBundle:Registration:register }

# Import des route fos_user login
user_login:
    path:     /login
    defaults: { _controller: AppBundle:Security:login }

user_login_check:
    path:     /login/check
    defaults: { _controller: AppBundle:Security:check }

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"