index:
    path:     /
    defaults: { _controller: AppBundle:Default:index }

grc:
    resource: "@GrcBundle/Resources/config/routing.yml"
    prefix:   /grc

ged:
    resource: "@GedBundle/Resources/config/routing.yml"
    prefix:   /ged
gedadmin:
    resource: "@GedBundle/Resources/config/adminrouting.yml"
    prefix:   /gedadmin

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

# Import des route fos_user register
register:
    path:     /gedamin/register
    defaults: { _controller: AppBundle:Registration:register }

# Import des route fos_user login
user_login:
    path:     /login
    defaults: { _controller: AppBundle:Security:login }

user_login_check:
    path:     /login_check
    defaults: { _controller: AppBundle:Security:check }

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

new_profile:
    path:     /user/newprofile
    defaults: { _controller: AppBundle:Profile:new }
