/* --------------------------------- Navbar top ---------------------------------*/

.navbar{
	margin-bottom:0;
	background-color:#FBA858;
	border:0;
	border-radius:0;
}

.ajout-fichier{
	margin-left: 20px;
}

.lien-user a{
	color:#000 !important;
	font-size: 20px;
	padding:8px !important;
}

.image-user{
	width:34px;
	height:34px;
	border-radius:5px;
	border:1px solid black;
}

.navbar-btn:hover{
	background-color:#909090;
	border:#909090 1px solid;
}

.home{
	padding:7px 10px!important;
}

/* --------------------------------- flashbag alert ---------------------------------*/

.alert{
	margin-top:5px ;
	margin-bottom: 0px;
	padding:10px 40px;
	text-align:center;
}

.alert-dismissible .close{
	top:-10px;
	right:-30px;
}

.alert a{
	text-decoration:none;
	color:#3c763d;
}

/* --------------------------------- Modal envoi ---------------------------------*/
.btn:active{
	background-color: #f1f1f1!important;
}
.modal .btn-primary{
	background-color:#FBA858;
	border-color: #f1f1f1;
}

.modal .btn-primary:active{
	background-color:#f1f1f1 !important;
	border-color: #f1f1f1;
	color:#000;
}

/* --------------------------------- Search bar ---------------------------------*/
select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #909090 inset;
}

select:focus > option:checked { 
    background: #909090 !important;
}

.search-bar{
	padding:10px 0 10px 40px; 
	background-color:#f1f1f1;
}

.styled-select select {
	background: transparent;
	width: 252px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}

.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	z-index: 1;
	background: url(../img/down_arrow_select.jpg) no-repeat right #fff;
	border: 1px solid #ccc;
}

.select-type {
	width: 185px;
	
}
.select-type select {
	width: 200px;
}

.search-btn{
	border: 1px solid #ccc;
}
.search-bar .btn-default:hover{
	background-color: #f1f1f1;
}
/*--------------------------------- Navbar left --------------------------------- */

.nav-left{
	padding: 55px 0 0 0;
	background-color:#f1f1f1;
}

.nav-left .glyphicon-folder-open{
	right: 30px;
}

.nav-left .glyphicon-user{
	right: 25px;
}

.nav-left .glyphicon-star{
	right: 50px;
}

.nav-left li:hover .glyphicon-star{
	color:yellow;
}

.glyphicon-cloud-upload{
	right: 45px;
}

.nav-left .glyphicon-tasks{
	right: 45px;
}

.nav-left ul{
	padding: 0;
	list-style: none;
}

.nav-left a{
	color:#000;
	background-color:#f1f1f1;
	text-decoration:none;
	font-size:17px;
	display: block;
	padding: 10px 0 10px 0;
}
.nav-left li:hover{
	border-radius: 5px !important;
	background-color:#909090;
}

.drop-content{
	display:none;
	margin-left:100%;
	z-index: 2;
}

.drop-in-content{
	display:none;
	z-index: 2;
	margin-left:100%;
}

.drop-content li a{
	padding: 10px;
}

.drop-btn:hover .drop-content {
	display: block;
    position:absolute;
    margin-top: -46px;
}

.drop-content li:hover .drop-in-content {
	display: block;
    position:absolute;
    margin-top: -46px;
}

.drop-btn .glyphicon-triangle-right{
	left: 50px;
}

.no-glyphicon{
	margin-left:20px;
}

.drop-btn a:hover, .btn:hover{
	background-color:#909090;
}
.corbeille{
	margin-top: 200px;
}

.corbeille .glyphicon{
	right: 55px;
	font-size: 20px;
}

.drop-content .glyphicon-triangle-right{
	left: 10px;
}

.corbeille span:nth-child(2){
	font-size: 10px;
	margin-right: 40px;
}

/*--------------------------------- Dashboard ---------------------------------*/
h3{
	text-align: center;
}

.tab-cel{
	padding: 0 5px;
	text-align:center;
}

tr:hover td{
	background-color: #C0C0C0;
}

.modal-header{
	background-color:#FBA858;
}

.modal-title{
	text-align: center;
}
/*--------------------------------- autocomplétion ---------------------------------*/
#auto{
	background-color: #fff;
	border:#d1d1d1 solid 1px;
	display:none;
	margin-top: 33px;
	position: absolute;
	z-index: 2;
	padding:0;
}

#auto h5{
	margin:5px 0 5px 5px;
}

#auto p{
	padding:2px 0 2px 20px;
	margin:0px;
}

#auto p:hover{
	background-color: #FBA858;
}

.bold{
	font-weight: bold;
}
/*--------------------------------- tout les fichiers ---------------------------------*/

#table .glyphicon-star-empty, #table .glyphicon-star{
	margin: 5px 0 0 0;
	font-size: 20px;
}

#table .glyphicon-star-empty:hover , #table .glyphicon-star:hover{
	background-color:#C0C0C0;
	cursor: pointer;
}

#table .glyphicon-star{
	color:yellow;
}

#table a{
	color:#000;
}
#tablecom .glyphicon-star-empty, #table .glyphicon-star{
	font-size: 20px;
}

#tablecom .glyphicon-star{
	color:yellow;
}

#tablecom a{
	color:#000;
}
/*--------------------------------- page 1 fichier ---------------------------------*/

.new-grp
{
	margin-left: 15px;
}

.button-container
{
	margin-bottom: 25px;
	margin-top: 25px;
}

.button-container .btn{
	margin:0 5px;
}

.btn_download
{
	background-color: #F1F1F1;
	color:#000;
}

#com-part
{
	background-color: #F1F1F1;
	border: 1px solid #c9c9c9;	
}

.existing-com
{
	height:500px;
	overflow: auto;
}

.one-comment
{
	background-color: #fba858;
	margin:5px;
	margin-top: 10px;
	border-radius: 3px;
	font-size: 15px;
	padding: 3px;
	padding-left: 7px;
}
.showform
{
	display: none;
}
.file-img
{
	max-width: 1000px;
	height: auto;
	border: solid #000 1px;
}
.file-title
{
	text-align: center;
	margin-bottom: 20px;
}
.file-text
{
	background-color: #F1F1F1;
	color: #000;
	margin-left: 3%;
	width: 94%;
}
/*--------------------------------- tout les fichiers ---------------------------------*/

/*----------------------------------paramètres fichiers -------------------------------*/

.tagdisplay
{
	display:none;
}
.parameters-tag
{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #FBA858;
	padding: 10px;
	border-radius: 5px;
}

.parameters-delete
{
	background-color: #FBA858;
	padding: 10px;
	border-radius: 5px;	
}

.parameters-category
{
	background-color: #FBA858;
	padding: 10px;
	border-radius: 5px;
}
#taglist
{
	background-color: #F1F1F1;
	margin-right: 150px;
	padding: 5px;
	border-radius: 5px;
}
/*-------------------------paramètres group----------------------------------------*/

.parameters-group
{
	background-color: #FBA858;
	padding: 10px;
	border-radius: 5px;
	margin-top: 50px;
}