/* Navbar top*/

.navbar{
	margin-bottom:0;
	background-color:#bababa;
	border:0;
	border-radius:0;
}

.ajout-fichier{
	margin-left: 20px;
}

.lien-user a{
	color:#000 !important;
	font-size: 20px;
	padding:8px !important;
}
.image-user{
	width:34px;
	height:34px;
	border-radius:5px;
	border:1px solid black;
}

.navbar-btn:hover{
	background-color:#1a8ab3;
	border:#1a8ab3 1px solid;
}

/* Search bar */

.search-bar{
	padding:10px 0;
	background-color:#1a8ab3;

}

.search-select{
	width: 100%;
}

/* Navbar left */

.nav-left{
	padding: 20px 0 0 0;
	background-color:#bababa;
	
}

.nav-left .glyphicon{
	margin-right: 20px;
	font-size: 20px;
}

.nav-left li:hover .glyphicon-star{
	color:yellow;
}

.nav-left ul{
	padding-left: 0;
	list-style: none;
}

.nav-left li{
	width:200px;
	margin: 10px 0 0 0;
}

.nav-left a{
	color:#000;
	text-decoration:none;
	font-size:17px;
	display: block;
	padding: 10px 0 10px 10px ;
}

.nav-left li:hover{
	width:200px;
	background-color:#1a8ab3;
}

.drop-content{
	display:none;
	margin-left: 85%;
	z-index: 2;
	float: left;
	background-color:#dbdbdb	;
	padding: 0;
}

.drop-content li:hover{
	background-color:#1a8ab3;
	width:auto;
}

.drop-content li{
	margin:0;
	width:auto;
	min-width: 120px;
}

.drop-content a{
	margin-right:10px;
}

.drop-btn:hover .drop-content {
	display: block;
    position:absolute;
    top:194px;
    left: 15px;
}

.drop-btn .glyphicon{
	margin-left: 60px;
}

.corbeille{
	margin-top: 200px;
}

.corbeille span:nth-child(2){
	font-size: 10px;
}

/* Dashboard */

.tab-cel{
	padding: 0 5px;
	text-align:center;
}

.modal-header{
	background-color:#1a8ab3;
}

.modal-title{
	text-align: center;
}