@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon-cog{
	font-size: 40px;
	margin-top: 15px;
}

/** GRC Navbar
 */

.navbar{
	background-color: #F1F1F1;
	margin-bottom: 0px;
}

#username{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#profilepic{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
}

/** GRC Barre de recherche
 */

.searchbar{
	height: 50px;
	background-color: #1FA597;
	padding-top: 7px;
	margin-right: 0px;
	margin-left: 0px;
}


/** GRC Dashboard 
 */

.grc_dashboard h1{
	font-size: 35px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.grc_dashboard h2{
	font-size: 25px;
	color: white;
	text-align: center;
	margin-top: 0px;
}

.dashboard{
}

.tableau{
	height: 200px;
	border: black 1px solid;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px; 

}

.tableau-top{
	height: 40px;
	border-bottom: black 1px solid;
	padding-top: 6px;
	background-color: #1FA597;
}

.tableau-low{
	padding:10px;
}

.tableau-low img{
	width: 140px;
	height: 140px;
}

#graph p{
	text-align: center;
}

#interligne{
	line-height:33px;
}

.tableau p{
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: bold;
}

.rouge{
	color:red;
}
.orange{
	color:#ff4500;
}
.vert{
	color:green;
}
.gris{
	color:#696969;
}
.bleu{
	color:blue;
}

/** GRC Listes 
 */
.lastlist{
	margin-bottom: 30px;
}

.liste h3{
	font-weight: bold;
	margin-top: 30px;
}

tr:hover td{
	background-color: #C0C0C0;
}

.col-tic{

	width:10%;
	text-align: center;
}

.col-cat{
	width:30%;
}

.col-dem{
	width:30%;
}

.col-act{
	width:15%;
}

.col-prio{
	width:15%;
}
