{% extends "GedBundle::layout.html.twig" %}
{% block body %}
{% include "GedBundle::search.html.twig" %}
{% include "GedBundle::nav.html.twig" %}
<div class="col-md-5">
	<h3 style="text-align:center;">Mes Favoris</h3>
	<table class="table" id="example">
		<thead> 
			<tr> 
				<th></th> 
				<th>file name</th>
				<th>category</th> 
				<th>tags</th> 
				<th>coms</th>
				<th>carameters</th>
			</tr> 
		</thead> 
		<tbody>
			<tr> 
				<td>ico</td> 
				<td>nom du fichier super long !</td>
				<td>la catégorie</td> 
				<td>tags, tags, tags,</td>
				<td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 8</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Paramètre</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" data-toggle="modal" data-target="#allertsuppr"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Supprimer</a></li>
						</ul>
					</div>
					{# Modal suppression #}
					<div class="modal fade" tabindex="-1" role="dialog" id="allertsuppr">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Holy Shit !!!</h4>
								</div>
								<div class="modal-body">
									<p>Êtes-vous sûr de vouloir supprimer ?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
									<button type="button" class="btn btn-primary btn-danger">Oui</button>
								</div>
							</div>
						</div>
					</div>
					{# Fin modal suppresion #}
				</td> 
			</tr> 
		</tbody>
	</table>
</div>
<div class="col-md-5">
	<h3 style="text-align:center;">Mes Favoris</h3>
	<table class="table" id="example2">
		<thead> 
			<tr> 
				<th></th> 
				<th>file name</th>
				<th>category</th> 
				<th>tags</th> 
				<th>coms</th>
				<th>parameters</th>
			</tr> 
		</thead> 
		<tbody>
			<tr> 
				<td>ico</td> 
				<td>nom du fichier super long !</td>
				<td>la catégorie</td> 
				<td>tags, tags, tags,</td>
				<td>8</td>
				<td>P</td> 
			</tr> 
		</tbody>
	</table>
</div>
<script type="text/javascript"> $(document).ready(function() { $('table').DataTable( { "paging": false, "info": false, "sDom": '<"H"lr>t<"F"ip>' } ); } );
</script>
{% endblock body %}