<div class="col-md-2 nav-left">
	<nav nav-left>
		<ul>
			<a href="#" title=""><li>Tous les fichiers</li></a>
			<a href="#" title=""><li><span class=" glyphicon glyphicon-star" aria-hidden="true"></span>Mes favoris</li></a>
			<a href="#" title=""><li>Partagés avec moi</li></a>
			<a href="#" title=""><li>Catégories</li></a>
			<a href="#" title=""><li>Mes Uploads</li></a>
		</ul>
		<ul class="corbeille">
			<a href="#" title=""><li><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span>Corbeille</span></li></a>
		</ul>
	</nav>
</div>