{% extends "GedBundle::layout.html.twig" %}
{% block body %}
	HELLO WORLD
	<p> ce fichier à l'id {{ idfile }}</p>
	<p>il s'appelle {{ file.path }}</p>
	{% if file.type == 'jpeg' or file.type == 'jpg' or file.type == 'png' or file.type == 'gif' %}
		<img src="{{ asset('/uploads/' ~file.path) }}" alt="image">
	{% elseif file.type == 'txt' %}
		<pre>{{ textfile }}</pre>
	{% endif %}
{% endblock body %}
