{% extends "GedBundle::layout.html.twig" %}
{% block body %}
	<div class="tab-cel ">
		<h3 style="text-align:center;">Paramètres du fichier.</h3>
	</div>
	<div>
		<form action=" {{ path('ged_parameters_file', {'id': id} ) }}" method="post">
			<label for="addtag">Ajouter un tag:</label>
			<input name="addtag" id="addtag"/>
			<input type="submit" value="valider"/>
		</form>
	</div>
</div>
<script type="text/javascript"> 
$(document).ready(function() { 
	$('table').DataTable( { 
		"paging": false,
		"info": false,
		"sDom": '<"H"lr>t<"F"ip>',
		"columnDefs": [{ "orderable": false, "targets": [2,4] }]
	} );
} );
</script>
{% endblock body %}