<section>
	<div class="search-bar col-md-10">
		<form action="{{ path('ged_search') }}" method="post">
			<div class="col-md-3">
				<div class="input-group">
					<input id="search" type="text" class="form-control" name="recherche" placeholder="Rechercher" autocomplete="off">
					<div id="auto" class="col-md-12"></div>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Ok</button>
					</span>
				</div>
				
			</div>
			<div class="col-md-3">
		    	<div class="styled-select">
			    	<select class="form-control search-select" id="categories" name="categorie">
			    		<option value="0" >Toutes les catégories</option>
			    		{% for categorie in categories %}
							{% if categorie.name != 'brouillon' and categorie.name != 'Brouillon' and categorie.name != 'corbeille' %}
							    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
							{% endif %}
						{% endfor %}
				    </select>
				</div>
			</div>
			<div class="col-md-3">
		    	<div class="styled-select">
			    	<select class="form-control" name="sscategories" id="sscategories" disabled>
					    <option value="0">Toutes les sous-catégories</option>
				    </select>
				</div>
			</div>
			<div class="col-md-2">
		    	<div class="styled-select select-type">
			    	<select class="form-control" name="type">
					    <option value="0">Tout type de fichier</option>
					    <option>Texte</option>
					    <option>Image</option>
					    <option>Audio</option>
					    <option>Video</option>
				    </select>
				</div>
			</div>
		</form>
	</div>
</section>
<script type="text/javascript">
	var path =  "{{ path('ged_ajax_sscat_search') }}";
</script>