<section>
	<div class="col-md-12 search-bar">
		<div class="col-md-10 col-md-offset-1">
			<form action="{{ path('ged_search') }}" method="post">
				<div class="col-md-3">
					<div class="input-group">
						<input type="text" class="form-control" name="Recherche" placeholder="Rechercher">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Ok</button>
						</span>
					</div>
					<div class="resultat" id="search-result"></div>
				</div>
				<div class="col-md-3">
			    	<div class="styled-select">
				    	<select class="form-control search-select" name="Catégorie">
				    		<option>Toutes les catégories
				    		{% for categorie in categories %}
								{% if categorie.name != 'brouillon' %}
								    <option>{{ categorie.name }}
								{% endif %}
							{% endfor %}
					    </select>
					</div>
				</div>
				<div class="col-md-3">
			    	<div class="styled-select">
				    	<select class="form-control" name="SSCatégorie">
						    <option>Toutes les sous-catégories
						    <option>sous-catégorie 1
						    <option>sous-catégorie 2
						    <option>sous-catégorie 3
					    </select>
					</div>
				</div>
				<div class="col-md-3">
			    	<div class="styled-select">
				    	<select class="form-control" name="Type">
						    <option>Tout type de fichier
						    <option>Texte
						    <option>Image
						    <option>Audio
						    <option>Video
					    </select>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>