<section>
	<div class="col-md-12 search-bar">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Rechercher">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Ok</button>
					</span>
				</div>
			</div>
			<div class="col-md-3">
			    <form>
			    	<select class="form-control search-select" name="Catégorie">
					    <option>Toute les catégories
					    <option>Catégorie 1
					    <option>Catégorie 2
					    <option>Catégorie 3
				    </select>
			    </form>
			</div>
			<div class="col-md-3">
			    <form>
			    	<select class="form-control" name="Sous-Catégorie">
					    <option>Toute les sous-catégories
					    <option>sous-catégorie 1
					    <option>sous-catégorie 2
					    <option>sous-catégorie 3
				    </select>
			    </form>
			</div>
			<div class="col-md-3">
			    <form>
			    	<select class="form-control" name="Type de fichier">
					    <option>Tout type de fichier
					    <option>Texte
					    <option>Image
					    <option>Audio
					    <option>Video
				    </select>
			    </form>
			</div>
		</div>
	</div>
</section>